node_modules
.vscode
upload/
upload_mdlschema/
upload_random/
upload_stand_zip/
upload_template/
upload_ogms/
temp/
snapShotCache/
dataStorage/
processing_result/
upload_processing/
package-lock.json/
urlFile/
lib/SAGA
lib/saga_tools
config/config.js